# Ignore the build and lib dirs
lib/*

# Ignore any executables
bin/*
build/*
build_cmake/*
facebook/build/*

# TODO: generate them in the build folder
*.pdb
*.obj

# Ignore big files
infrastructure/exercices_diverse/inputs/linked_list.txt

# Ignore vscode config
.vscode/*