# Ignore the build and lib dirs
lib/*
fps/external/*

# Ignore any executables
bin/*
build/*
build_cmake/*
facebook/build/*
infrastructure/hanoi_tower/build/*
fps/build/*
fps/out/*
out/*

# TODO: generate them in the build folder
*.pdb
*.obj
*.vs

# Ignore big files
infrastructure/exercices_diverse/inputs/linked_list.txt

# Ignore vscode config
.vscode/*